
html, body {
  font-family: $font-family-SourceSans;
  font-size: $font-size-default;
  color: $black;
  min-width: 500px;
}

h1 {
  font-size: $font-size-xxl;
  font-family: $font-family-SofiaPro;
  font-weight: 600;
  opacity: 0.9;
}

h2 {
  font-size: $font-size-xl;
  font-family: $font-family-SofiaPro;
  font-weight: 600;
  opacity: 0.9;
}

h3 {
  font-size: $font-size-m;
  font-family: $font-family-SofiaPro;
  font-weight: 600;
  opacity: 0.9;
}

h6 {
  font-size: $font-size-default;
  font-weight: 600;
  opacity: 0.9;
  line-height: 28px;
}

p {
  font-size: $font-size-default;
  line-height: 32px;
  opacity: 0.7;
  margin-bottom: 0;
}
