
.ph-footer {
  background-color: $black;
  font-size: $font-size-s;
  color: $white;
  p {
    font-size: $font-size-s;
  }
  .ph-footer__header {
    padding-top: 110px;
    font-size: $font-size-xs;
    img {
      margin-right: 10px;
    }
    .ph-footer__header-menu {
      list-style-type: none;
      .ph-footer__header-menu-item {
        display: inline;
        .ph-footer__header-menu-item-link {
          padding: 0 10px;
        }
      }
    }
  }
  .ph-footer__body {
    margin-top: 144px;
    display: flex;
    .ph-footer__body-left-column {
      max-width: 260px;
      line-height: 32px;
      p {
        opacity: 0.7;
      }
    }
    .ph-footer__body-menu {
      display: flex;
      .ph-footer__body-menu-item {
        list-style-type: none;
      }

      .ph-footer__body-menu-item-title {
        font-family: $font-family-secondary;
        font-weight: 500;
        line-height: 19px;
        opacity: 0.35;
        margin-bottom: 30px;
      }
      .ph-footer__body-menu-item-subtitle {
        padding: 5px 0;
        .ph-footer__body-menu-item-subtitle-link {
          color: $white;
          line-height: 18px;
        }
      }
    }
  }
  .ph-footer__footer {
    padding-top: 122px;
    padding-bottom: 20px;
    text-align: left;
  }
}