

.homepage {
  .ph-button-primary {
    margin-top: 70px;
  }
}

.ph-heading {
  .ph-heading_col {
    height: 588px;
    display: flex;
    flex-direction: column;
  }
  .ph-heading__title {
    max-width: 760px;
    margin: 35px 0;
    h1 {
      line-height: 80px;
    }
  }
  .ph-heading__subtitle {
    max-width: 350px;
  }
}

.ph-heading__background {
  position: absolute;
  width: 100%;
  right: 0;
  /*background-image: url(/homepage/1@2x.jpg);*/
  img {
    position: absolute;
    height: 588px;
    right: 0;
    max-width: 100%;
  }
}
/*components*/
.ph-par {
  max-width: 360px;
  .ph-par__title {
    line-height: 48px;
    margin-bottom: 20px;
  }
  .ph-par-body {
    max-width: 360px;
  }
}

.ph-counter {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  .ph-counter__number {
    line-height: 48px;
  }
}

.ph-bg-banner {
  width: 900px;
  height: 320px;
  background-image: url(/images/slacks@2x.jpg?273a467…);
  background-repeat: no-repeat;
  position: absolute;
  left: -370px;
  background-size: 900px 317px;
}

.ph-icon-row {
  margin-top: 60px;
}
.ph-icon-social {
  display: flex;
  height: 136px;
  width: 260px;
  background-color: $grey;
  img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    margin: auto;
  }
}
