.ph-heading {

  .ph-heading_col {
    height: 588px;
    display: flex;
    flex-direction: column;
  }

  .ph-heading__title {
    max-width: 760px;
    margin: 55px 0;
    letter-spacing: 1px;

    h1 {
      line-height: 80px;
    }
  }

  .ph-heading__subtitle {
    max-width: 350px;
  }
}

.ph-heading__background {
  position: absolute;
  height: 588px;
  left: 45%;
  right: 0;
  background-image: url(/src/images/homepage/1@2x.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  img {
    position: absolute;
    height: 588px;
    right: 0;
    max-width: 100%;
  }
}

.ph-bg-banner {
  width: 900px;
  height: 100%;
  background-image: url(/src/images/background/slacks@2x.jpg);
  background-repeat: no-repeat;
  position: absolute;
  left: -139px;
  background-size: contain;
}

.ph-icon-row {
  margin-top: 60px;
}

.ph-icon-social {
  display: flex;
  height: 136px;
  width: 260px;
  background-color: $grey;

  img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    margin: auto;
  }
}
