
/* colors */
$white: #FFFFFF;
$text: #100E1C;
$blue: #4A81D7;
$facebook: #3B5998;


/* font-sizes */
$font-size-default: 20px;
$font-size-large: 72px;

/* font/family */
$font-family-SourceSans:'Source Sans Pro', sans-serif;
$font-family-SofiaPro:'sofia-pro-soft';
